.react-grid-main-wrapper {
  border: 1px solid;
  height: 100%;
  width: 100%;

  font-size: 20px;

  .react-grid-row {
    display: flex;
    border-bottom: 1px solid red;
  }

  .react-grid-cell {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
  }

  .react-grid-cell + .react-grid-cell {
    border-left: 1px solid red;
  }

  .react-grid-header-row {
    display: flex;
    border-bottom: 2px solid blue;
  }

  .react-grid-header-cell {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    font-weight: 900;
  }

  .react-grid-header-cell + .react-grid-header-cell {
    border-left: 1px solid blue;
  }
}
